<page-title></page-title>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-3">
        <movie-list></movie-list>
        <hr>
      </div>
      
      <div class="col-3">
        <!-- <p>No content here yet...</p> -->
        <fav-photos></fav-photos>
        <hr>
      </div>
      
      <div class="col-3">
        <!-- <p>No content here yet...</p> -->
        <chores-list></chores-list>
        <hr>
      </div>
    </div>
  </div>
  
  <fav-links></fav-links>
  
  